* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: white;
    background: #042746;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background: transparent;
}
.menu ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    padding: 15px 0;
}
.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;

    animation: fadeMenu linear forwards;
    animation-timeline: scroll();
    animation-range: 0 250px;
}
@keyframes fadeMenu {
    from { opacity: 1; }
    to { opacity: 0; }
}
.hero {
    margin-top: 0px;
    height: calc(70vh - 60px);
    min-height: 500px;
    background: url("img/backpack-mountain.webp") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.calque-texte-1 {
    font-family: 'Shadows Into Light', cursive;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px; /* spacing régulier */
    text-align: center;
}
.calque-texte-1 h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3.5rem;
    text-shadow:
    1px 1px 1px rgba(255, 255, 255, 0.8),
   -1px -1px 1px rgba(0, 0, 0, 0.3); 
}
.calque-texte-1 p {
    font-size: 2rem;
}
.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
}
.scroll i {
    font-size: 2rem;
}
.scroll a {
    color: white;
    text-decoration: none;
}
.scroll a i {
    color: white;
}
.intro {
    background: #0F4C81;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.intro > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 700px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.intro h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
}
.intro p {
    line-height: 1.6;
    font-size: 0.95rem;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-direction: row;
    margin-top: 15px;
}
.etapes {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.bloc {
    display: flex;
    align-items: stretch;
}
.bloc img {
    width: 40%;
    height: 280px;
    object-fit: cover;
}
.texte {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.texte h3 {
    font-family: 'Shadows Into Light', cursive;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.texte h3::after {
    content: "";
    display: block;
    width: auto;
    height: 2px;
    background: white;
    margin-top: 8px;
}
.texte p {
    font-size: 0.9rem;
    line-height: 1.5;
}
.reverse {
    flex-direction: row-reverse;
}
footer {
    background: #0F4C81;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
footer h4 {
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 10px;
}
.copyright {
    text-align: center;
    font-size: 0.8rem;
}
.icons i {
    font-size: 2.5rem;
}
.icon-white {
    color: #338163;
}
.icon-light {
    color: #d5b458;
}
.icon-blue {
    color: #eddb3a;
}